<h2>
  Create a new Trip
</h2>
<form [formGroup]="newTripForm" (ngSubmit)="onSubmit()">
  <label>
    Trip Name:
    <input type="text" formControlName="title" required>
  </label>
<!-- 
  <div formGroupName="dates">
    <label>
      Start date:
      <input type="date" formControlName="startDate">
    </label>
  
    <label>
      End date:
      <input type="date" formControlName="endDate">
    </label>
  </div>

  <label>
    Number of Participants:
    <input type="number" formControlName="number">
  </label>

  <label>
    Going Aboard?:
    <input type="checkbox" formControlName="isAboard">
  </label>
 -->
  <div formArrayName="members">
    <h5>Who is joining?</h5>
  
    <div *ngFor="let member of members.controls; let i=index">
      <label>
        Name:
        <input type="text" [formControlName]="i">
      </label>
    </div>
  </div>
  <button type="button" (click)="addMember()">Add member</button>
  <br>
  <br>
  <button type="submit" [disabled]="!newTripForm.valid">Submit</button>
  <p>
    Form Status: {{ newTripForm.status }}
  </p>
</form>