<div *ngIf="currentTrip">
  <h2>{{currentTrip.title | uppercase}}</h2>

  <div class=members>
    <h4>Members</h4>
    <li>{{currentTrip.owner.name}}</li>
    <li *ngFor="let member of currentTrip.members">
      {{member.name}}
      <button type="button" (click)="removeMember(member)">Remove</button>
    </li>
    <button *ngIf=!isAddingMember type="button" (click)="addMember()">Add member</button>
    <div *ngIf=isAddingMember>
      <app-new-member (addingMemberEventEmitter)="onAddingMember($event)" (closeNewMemberFormEventEmitter)="onClosingMemberForm()"></app-new-member>
    </div>
  </div>

  <br>

  <div *ngIf=!isTripSettled class=expenses>
    <h4>Expenses</h4>
    <p *ngIf="!currentTrip.expenses?.length">There is no expense for this trip yet.</p>
    <li *ngFor="let expense of currentTrip.expenses">
      ${{expense.amount}} paid by {{expense.paidBy.name}} for
      <span *ngFor="let participant of expense.participants">{{participant.name}} </span>
      <button type="button" (click)="removeExpense()">Remove</button>
    </li>

    <button *ngIf=!isAddingExpense type="button" (click)="addExpense()">Add expense</button>
    <div *ngIf=isAddingExpense>
      <app-new-expense [currentTrip]="currentTrip" (addingExpenseEventEmitter)="onAddingExpense($event)"
        (closeNewExpenseFormEventEmitter)="onClosingExpenseForm()"></app-new-expense>
    </div>
  </div>

  <div *ngIf=isTripSettled class=settlements>
    <app-trip-settlements [settlements]="settlements"></app-trip-settlements>
  </div>

  <br>
  <br>
  <button type="button" (click)="settleUp()">Settle Expenses</button>
  <br>
  <button type="button" (click)="deleteTrip()">Delete</button>


</div>