<div *ngIf="currentTrip">
  <h2>{{currentTrip.title | uppercase}}</h2>
  <ul>
    <li>ID: {{currentTrip.id}}</li>
  </ul>
  <h4>Members</h4>
    <li>{{currentTrip.owner.name}}</li>
    <li *ngFor="let member of currentTrip.members">
      {{member.name}}
    </li>
  <h4 *ngIf="currentTrip.expenses?.length">Expense</h4>
    <li *ngFor="let expense of currentTrip.expenses">
      {{expense.amount}}
    </li>
  
  <button type="button" (click)="addExpense()">Add expense</button>

  <div *ngIf=isAddingExpense>
    <app-new-expense></app-new-expense>
  </div>
</div>